In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
!unzip -q '/content/drive/MyDrive/OptumStratethon.zip'

allergies_names = ['allergies_START', 'allergies_STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'allergies_DESCRIPTION']
allergies = pd.read_csv("/content/csv/allergies.csv", names=allergies_names)

careplans_names = ['careplans_Id', 'careplans_START', 'careplans_STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'careplans_DESCRIPTION','REASONCODE', 'REASONDESCRIPTION']
careplans = pd.read_csv("/content/csv/careplans.csv", names=careplans_names)
  
conditions_names = ['conditions_START', 'conditions_STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'conditions_DESCRIPTION']
conditions = pd.read_csv("/content/csv/conditions.csv", names = conditions_names)

devices_names = ['devices_START', 'devices_STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'devices_DESCRIPTION', 'UDI']
devices = pd.read_csv("/content/csv/devices.csv", names = devices_names)

encounters_names = ['ENCOUNTER', 'encounters_START', 'encounters_STOP', 'PATIENT', 'ORGANIZATION', 'PROVIDER', 'PAYER','ENCOUNTERCLASS', 'CODE', 'encounters_DESCRIPTION', 
                      'BASE_ENCOUNTER_COST','TOTAL_CLAIM_COST', 'PAYER_COVERAGE', 'enc_REASONCODE','enc_REASONDESCRIPTION']
encounters = pd.read_csv("/content/csv/encounters.csv", names=encounters_names)

imaging_studies_names = ['IMAGING_STUDIES', 'is_DATE', 'PATIENT', 'ENCOUNTER', 'BODYSITE_CODE',
       'BODYSITE_DESCRIPTION', 'MODALITY_CODE', 'MODALITY_DESCRIPTION','SOP_CODE', 'SOP_DESCRIPTION']
imaging_studies = pd.read_csv("/content/csv/imaging_studies.csv", names = imaging_studies_names)

immunizations_names = ['immunization_DATE', 'PATIENT', 'ENCOUNTER', 'CODE', 'immunization_DESCRIPTION', 'immunization_BASE_COST']
immunizations = pd.read_csv("/content/csv/immunizations.csv", names = immunizations_names)

medications_names = ['meds_START', 'meds_STOP', 'PATIENT', 'PAYER', 'ENCOUNTER', 'meds_CODE', 'meds_DESCRIPTION',
       'meds_BASE_COST', 'PAYER_COVERAGE', 'DISPENSES', 'TOTALCOST', 'meds_REASONCODE','meds_REASONDESCRIPTION']
medications = pd.read_csv("/content/csv/medications.csv", names=medications_names)

observations_names = ['obs_DATE', 'PATIENT', 'ENCOUNTER', 'obs_CODE', 'obs_DESCRIPTION', 'VALUE', 'UNITS','TYPE']
observations = pd.read_csv("/content/csv/observations.csv", names=observations_names)

organizations_names = ['ORGANIZATIONS', 'org_NAME', 'org_ADDRESS', 'org_CITY', 'org_STATE', 'org_ZIP', 'org_LAT', 'org_LON', 'org_PHONE','org_REVENUE', 'org_UTILIZATION']
organizations = pd.read_csv("/content/csv/organizations.csv", names = organizations_names)

patients_names = ['PATIENT', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT','PREFIX', 'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE',
     'ETHNICITY', 'GENDER', 'BIRTHPLACE', 'pat_ADDRESS', 'pat_CITY', 'pat_STATE','pat_COUNTY', 'pat_ZIP', 'pat_LAT', 'pat_LON', 'HEALTHCARE_EXPENSES','HEALTHCARE_COVERAGE']
patients = pd.read_csv("/content/csv/patients.csv", names=patients_names)

payer_transitions_names = ['PATIENT', 'START_YEAR', 'END_YEAR', 'PAYER', 'OWNERSHIP']
payer_transitions = pd.read_csv("/content/csv/payer_transitions.csv", names=payer_transitions_names)

payers_names = ['PAYER', 'payer_NAME', 'payer_ADDRESS', 'payer_CITY', 'STATE_HEADQUARTERED', 'payer_ZIP', 'payer_PHONE',
       'AMOUNT_COVERED', 'AMOUNT_UNCOVERED', 'payer_REVENUE', 'COVERED_ENCOUNTERS','UNCOVERED_ENCOUNTERS', 'COVERED_MEDICATIONS', 'UNCOVERED_MEDICATIONS',
       'COVERED_PROCEDURES', 'UNCOVERED_PROCEDURES', 'COVERED_IMMUNIZATIONS','UNCOVERED_IMMUNIZATIONS', 'UNIQUE_CUSTOMERS', 'QOLS_AVG','MEMBER_MONTHS']
payers = pd.read_csv("/content/csv/payers.csv", names=payers_names)

procedures_names = ['DATE', 'PATIENT', 'ENCOUNTER', 'CODE', 'procedure_DESCRIPTION', 'procedure_BASE_COST','REASONCODE', 'REASONDESCRIPTION']
procedures = pd.read_csv("/content/csv/procedures.csv", names=procedures_names)

providers_names = ['PROVIDER', 'ORGANIZATION', 'prov_NAME', 'prov_GENDER', 'SPECIALITY', 'prov_ADDRESS', 'prov_CITY',
       'prov_STATE', 'prov_ZIP', 'prov_LAT', 'prov_LON', 'prov_UTILIZATION']
providers = pd.read_csv("/content/csv/providers.csv", names = providers_names)

supplies = pd.read_csv("/content/csv/supplies.csv")

In [ ]:
patient_allergies = pd.merge(allergies, patients, on=['PATIENT'], how='right')
patient_allergies.drop(0, inplace=True)

patient_observations = pd.merge(observations, patients, on=['PATIENT'], how='right')
patient_observations.drop(0, inplace = True)

patient_conditions = pd.merge(conditions, patients, on=['PATIENT'], how='right')
patient_conditions.drop(0, inplace=True)

patient_payer_transitions = pd.merge(payer_transitions, patients, on=['PATIENT'], how='right')
patient_payer_transitions.drop(0, inplace=True)

payers_p_transitions = pd.merge(payer_transitions, payers, on=['PAYER'], how='right')
payers_p_transitions.drop(0, inplace=True)

In [ ]:
payers_p_transitions

                                   PATIENT  ... MEMBER_MONTHS
1     cd1d1f54-e4ea-458e-a264-b3e9c57d902e  ...          3348
2     efa3e04c-ec23-46e4-9431-a73492ad32a5  ...          3348
3     de767c9e-3131-4d1a-9eed-fdd86a15d459  ...          3348
4     c1cfae08-b141-40ea-a8bb-78c46cde0f3c  ...          3348
5     8507a0b0-b667-4a07-90f1-8cfb2193dcd8  ...          3348
...                                    ...  ...           ...
3797  83c686df-0a1e-4950-9a2b-c84da98a2652  ...         35196
3798  ba8a1afb-f089-4229-8e13-06213df0f74d  ...         35196
3799  6c2b1cfd-887a-43f8-bee0-000ce2fc6ef0  ...         35196
3800  6c2b1cfd-887a-43f8-bee0-000ce2fc6ef0  ...         35196
3801  6c2b1cfd-887a-43f8-bee0-000ce2fc6ef0  ...         35196

[3801 rows x 25 columns]

In [ ]:
payers_p_transitions.columns

Index(['PATIENT', 'START_YEAR', 'END_YEAR', 'PAYER', 'OWNERSHIP', 'payer_NAME',
       'payer_ADDRESS', 'payer_CITY', 'STATE_HEADQUARTERED', 'payer_ZIP',
       'payer_PHONE', 'AMOUNT_COVERED', 'AMOUNT_UNCOVERED', 'payer_REVENUE',
       'COVERED_ENCOUNTERS', 'UNCOVERED_ENCOUNTERS', 'COVERED_MEDICATIONS',
       'UNCOVERED_MEDICATIONS', 'COVERED_PROCEDURES', 'UNCOVERED_PROCEDURES',
       'COVERED_IMMUNIZATIONS', 'UNCOVERED_IMMUNIZATIONS', 'UNIQUE_CUSTOMERS',
       'QOLS_AVG', 'MEMBER_MONTHS'],
      dtype='object')

In [ ]:
patient_payers = payers_p_transitions[['PATIENT', 'START_YEAR', 'END_YEAR', 'PAYER', 'OWNERSHIP', 'payer_NAME', 'payer_CITY', 'STATE_HEADQUARTERED',
                                       'AMOUNT_COVERED', 'AMOUNT_UNCOVERED', 'payer_REVENUE',
                                       'COVERED_ENCOUNTERS', 'UNCOVERED_ENCOUNTERS', 'COVERED_MEDICATIONS',
                                       'UNCOVERED_MEDICATIONS', 'COVERED_PROCEDURES', 'UNCOVERED_PROCEDURES',
                                       'COVERED_IMMUNIZATIONS', 'UNCOVERED_IMMUNIZATIONS']] 
patient_payers

                                   PATIENT  ... UNCOVERED_IMMUNIZATIONS
1     cd1d1f54-e4ea-458e-a264-b3e9c57d902e  ...                       0
2     efa3e04c-ec23-46e4-9431-a73492ad32a5  ...                       0
3     de767c9e-3131-4d1a-9eed-fdd86a15d459  ...                       0
4     c1cfae08-b141-40ea-a8bb-78c46cde0f3c  ...                       0
5     8507a0b0-b667-4a07-90f1-8cfb2193dcd8  ...                       0
...                                    ...  ...                     ...
3797  83c686df-0a1e-4950-9a2b-c84da98a2652  ...                    3644
3798  ba8a1afb-f089-4229-8e13-06213df0f74d  ...                    3644
3799  6c2b1cfd-887a-43f8-bee0-000ce2fc6ef0  ...                    3644
3800  6c2b1cfd-887a-43f8-bee0-000ce2fc6ef0  ...                    3644
3801  6c2b1cfd-887a-43f8-bee0-000ce2fc6ef0  ...                    3644

[3801 rows x 19 columns]

In [ ]:
patient_payers.columns

Index(['PATIENT', 'START_YEAR', 'END_YEAR', 'PAYER', 'OWNERSHIP', 'payer_NAME',
       'payer_CITY', 'STATE_HEADQUARTERED', 'AMOUNT_COVERED',
       'AMOUNT_UNCOVERED', 'payer_REVENUE', 'COVERED_ENCOUNTERS',
       'UNCOVERED_ENCOUNTERS', 'COVERED_MEDICATIONS', 'UNCOVERED_MEDICATIONS',
       'COVERED_PROCEDURES', 'UNCOVERED_PROCEDURES', 'COVERED_IMMUNIZATIONS',
       'UNCOVERED_IMMUNIZATIONS'],
      dtype='object')

In [ ]:
cols = ['PATIENT', 'INSURANCE_START_YEAR', 'INSURANCE_END_YEAR', 'PAYER', 'OWNERSHIP', 'payer_NAME',
       'payer_CITY', 'STATE_HEADQUARTERED', 'AMOUNT_COVERED',
       'AMOUNT_UNCOVERED', 'payer_REVENUE', 'COVERED_ENCOUNTERS',
       'UNCOVERED_ENCOUNTERS', 'COVERED_MEDICATIONS', 'UNCOVERED_MEDICATIONS',
       'COVERED_PROCEDURES', 'UNCOVERED_PROCEDURES', 'COVERED_IMMUNIZATIONS',
       'UNCOVERED_IMMUNIZATIONS']

df_patient_payer = pd.DataFrame(columns = cols)
df_patient_payer

Empty DataFrame
Columns: [PATIENT, INSURANCE_START_YEAR, INSURANCE_END_YEAR, PAYER, OWNERSHIP, payer_NAME, payer_CITY, STATE_HEADQUARTERED, AMOUNT_COVERED, AMOUNT_UNCOVERED, payer_REVENUE, COVERED_ENCOUNTERS, UNCOVERED_ENCOUNTERS, COVERED_MEDICATIONS, UNCOVERED_MEDICATIONS, COVERED_PROCEDURES, UNCOVERED_PROCEDURES, COVERED_IMMUNIZATIONS, UNCOVERED_IMMUNIZATIONS]
Index: []

In [ ]:
grouped_patients = patient_payers.groupby('PATIENT')
for name, group in grouped_patients:
  data_dict = {'PAYER' : [], 'OWNERSHIP':[], 'payer_NAME':[], 'payer_CITY':[], 'STATE_HEADQUARTERED':[],
               'AMOUNT_COVERED':[], 'AMOUNT_UNCOVERED':[], 'payer_REVENUE':[], 'COVERED_ENCOUNTERS':[],
               'UNCOVERED_ENCOUNTERS':[], 'COVERED_MEDICATIONS':[], 'UNCOVERED_MEDICATIONS':[],
               'COVERED_PROCEDURES': [], 'COVERED_IMMUNIZATIONS':[], 'UNCOVERED_IMMUNIZATIONS':[]}
  data_dict['PATIENT'] = name
  for ind in group.index:
    data_dict['INSURANCE_START_YEAR'] = group['START_YEAR'][ind]
    data_dict['INSURANCE_END_YEAR'] = group['END_YEAR'][ind]
    data_dict['PAYER'].append(group['PAYER'][ind])
    data_dict['OWNERSHIP'].append(group['OWNERSHIP'][ind])
    data_dict['payer_NAME'].append(group['payer_NAME'][ind])
    data_dict['payer_CITY'].append(group['payer_CITY'][ind])
    data_dict['STATE_HEADQUARTERED'].append(group['STATE_HEADQUARTERED'][ind])
    data_dict['AMOUNT_COVERED'].append(group['AMOUNT_COVERED'][ind])
    data_dict['AMOUNT_UNCOVERED'].append(group['AMOUNT_UNCOVERED'][ind])
    data_dict['payer_REVENUE'].append(group['payer_REVENUE'][ind])
    data_dict['COVERED_ENCOUNTERS'].append(group['COVERED_ENCOUNTERS'][ind])
    data_dict['UNCOVERED_ENCOUNTERS'].append(group['UNCOVERED_ENCOUNTERS'][ind])
    data_dict['COVERED_MEDICATIONS'].append(group['COVERED_MEDICATIONS'][ind])
    data_dict['UNCOVERED_MEDICATIONS'].append(group['UNCOVERED_MEDICATIONS'][ind])
    data_dict['COVERED_PROCEDURES'].append(group['COVERED_PROCEDURES'][ind])
    data_dict['COVERED_IMMUNIZATIONS'].append(group['COVERED_IMMUNIZATIONS'][ind])
    data_dict['UNCOVERED_IMMUNIZATIONS'].append(group['UNCOVERED_IMMUNIZATIONS'][ind])
  df_patient_payer = df_patient_payer.append(data_dict, ignore_index=True)
df_patient_payer

                                  PATIENT  ...                            UNCOVERED_IMMUNIZATIONS
0    0042862c-9889-4a2e-b782-fac1e540ecb4  ...                                          [0, 3644]
1    0047123f-12e7-486c-82df-53b3a450e365  ...                                                [0]
2    010d4a3a-2316-45ed-ae15-16f01c611674  ...                                              [160]
3    0149d553-f571-4e99-867e-fcb9625d07c2  ...                                [0, 0, 0, 156, 164]
4    01e1f394-7219-4189-bceb-3cbd90cff90b  ...  [0, 0, 0, 0, 0, 0, 195, 195, 0, 160, 156, 156,...
..                                    ...  ...                                                ...
978  fdb2a2ee-09c2-499b-b324-d998d5226f19  ...                  [0, 0, 0, 0, 0, 195, 195, 0, 160]
979  ff02f237-fedb-453b-85b1-ebfc2609c312  ...                                              [151]
980  ff3714ac-c7e3-4910-905e-2a321eb28144  ...                                              [160]
981  ff6948b7-3d62-4bfc-bc7d-dbb6748ed0be  ...              [0, 0, 0, 0, 195, 160, 156, 156, 156]
982  ffa37e71-fa14-4e84-ba9d-aece8d1d99f9  ...                                                [0]

[983 rows x 19 columns]

In [ ]:
patient_allergies

     allergies_START allergies_STOP  ... HEALTHCARE_EXPENSES HEALTHCARE_COVERAGE
1                NaN            NaN  ...           271227.08  1334.8799999999999
2                NaN            NaN  ...           793946.01             3204.49
3                NaN            NaN  ...            574111.9  2606.3999999999996
4                NaN            NaN  ...            935630.3   8756.189999999999
5                NaN            NaN  ...           598763.07              3772.2
...              ...            ...  ...                 ...                 ...
1623             NaN            NaN  ...          1622314.87  32086.309999999998
1624             NaN            NaN  ...           979724.25             3130.52
1625             NaN            NaN  ...          1560540.35            52391.24
1626             NaN            NaN  ...          1375833.47  13156.999999999998
1627             NaN            NaN  ...          1510158.34  26565.649999999998

[1627 rows x 30 columns]

In [ ]:
patient_allergies.columns

Index(['allergies_START', 'allergies_STOP', 'PATIENT', 'ENCOUNTER', 'CODE',
       'allergies_DESCRIPTION', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS',
       'PASSPORT', 'PREFIX', 'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL',
       'RACE', 'ETHNICITY', 'GENDER', 'BIRTHPLACE', 'pat_ADDRESS', 'pat_CITY',
       'pat_STATE', 'pat_COUNTY', 'pat_ZIP', 'pat_LAT', 'pat_LON',
       'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE'],
      dtype='object')

In [ ]:
df_patient_allergies = pd.DataFrame(columns = ['PATIENT', 'allergies_START_DATE', 'allergies_STOP_DATE', 'CODE','allergies_DESCRIPTION'])
df_patient_allergies

Empty DataFrame
Columns: [PATIENT, allergies_START_DATE, allergies_STOP_DATE, CODE, allergies_DESCRIPTION]
Index: []

In [ ]:
grouped_patients = patient_allergies.groupby('PATIENT')
for name, group in grouped_patients:
  data_dict = {'allergies_START_DATE': [], 'allergies_STOP_DATE': [], 'CODE':[], 'allergies_DESCRIPTION':[]}
  data_dict['PATIENT'] = name
  for ind in group.index:
    data_dict['allergies_START_DATE'].append(group['allergies_START'][ind])
    data_dict['allergies_STOP_DATE'].append(group['allergies_STOP'][ind])
    data_dict['CODE'].append(group['CODE'][ind])
    data_dict['allergies_DESCRIPTION'].append(group['allergies_DESCRIPTION'][ind])
  df_patient_allergies = df_patient_allergies.append(data_dict, ignore_index=True)
df_patient_allergies

                                   PATIENT  ... allergies_DESCRIPTION
0     00185faa-2760-4218-9bf5-db301acf8274  ...                 [nan]
1     0042862c-9889-4a2e-b782-fac1e540ecb4  ...                 [nan]
2     0047123f-12e7-486c-82df-53b3a450e365  ...                 [nan]
3     010d4a3a-2316-45ed-ae15-16f01c611674  ...                 [nan]
4     01207ecd-9dff-4754-8887-4652eda231e2  ...                 [nan]
...                                    ...  ...                   ...
1166  ff02f237-fedb-453b-85b1-ebfc2609c312  ...                 [nan]
1167  ff3714ac-c7e3-4910-905e-2a321eb28144  ...                 [nan]
1168  ff6948b7-3d62-4bfc-bc7d-dbb6748ed0be  ...                 [nan]
1169  ffa37e71-fa14-4e84-ba9d-aece8d1d99f9  ...                 [nan]
1170  ffcfa457-00c2-4405-9837-ac2781549c7e  ...                 [nan]

[1171 rows x 5 columns]

In [ ]:
al_set = set()
for ind in df_patient_allergies:
  for i in df_patient_allergies['allergies_DESCRIPTION']:
    al_set.update(i)

al_set

{'Allergy to bee venom',
 'Allergy to dairy product',
 'Allergy to eggs',
 'Allergy to fish',
 'Allergy to grass pollen',
 'Allergy to mould',
 'Allergy to nut',
 'Allergy to peanuts',
 'Allergy to soya',
 'Allergy to tree pollen',
 'Allergy to wheat',
 'Dander (animal) allergy',
 'House dust mite allergy',
 'Latex allergy',
 'Shellfish allergy',
 nan}

In [ ]:
organizations

                             ORGANIZATIONS  ... org_UTILIZATION
0                                       Id  ...     UTILIZATION
1     ef58ea08-d883-3957-8300-150554edc8fb  ...            1557
2     69176529-fd1f-3b3f-abce-a0a3626769eb  ...            2296
3     5e765f2b-e908-3888-9fc7-df2cb87beb58  ...            2287
4     f1fbcbfb-fcfa-3bd2-b7f4-df20f1b3c3a4  ...            1327
...                                    ...  ...             ...
1115  700056a6-3aea-3efd-8423-a9acbd38a5ea  ...              41
1116  308b5efa-a9c2-3728-b1ff-d29c5f060731  ...             301
1117  bbf934c6-faad-3483-a1d2-d2ecb693a0e2  ...             210
1118  90cf148c-69ed-3d33-aa86-b509c6b0b25f  ...             474
1119  1aedcb45-c507-3ad0-9010-6583d264ae72  ...               8

[1120 rows x 11 columns]

In [ ]:
medications

                 meds_START  ...                       meds_REASONDESCRIPTION
0                     START  ...                            REASONDESCRIPTION
1      2010-05-05T00:26:23Z  ...                                          NaN
2      2011-04-30T00:26:23Z  ...                                          NaN
3      2012-04-24T00:26:23Z  ...                                          NaN
4      2011-05-13T12:58:08Z  ...                  Acute bronchitis (disorder)
...                     ...  ...                                          ...
42985  1983-09-08T17:27:52Z  ...                                          NaN
42986  1984-09-23T17:27:52Z  ...                                          NaN
42987  1987-09-27T17:27:52Z  ...  Chronic congestive heart failure (disorder)
42988  1987-09-27T17:27:52Z  ...  Chronic congestive heart failure (disorder)
42989  1990-03-15T17:27:52Z  ...  Chronic congestive heart failure (disorder)

[42990 rows x 13 columns]

In [ ]:
patient_medications = pd.merge(medications, patients, on=['PATIENT'], how= 'right')
patient_medications.drop(0, inplace=True)
patient_medications.columns

Index(['meds_START', 'meds_STOP', 'PATIENT', 'PAYER', 'ENCOUNTER', 'meds_CODE',
       'meds_DESCRIPTION', 'meds_BASE_COST', 'PAYER_COVERAGE', 'DISPENSES',
       'TOTALCOST', 'meds_REASONCODE', 'meds_REASONDESCRIPTION', 'BIRTHDATE',
       'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX', 'FIRST', 'LAST',
       'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY', 'GENDER',
       'BIRTHPLACE', 'pat_ADDRESS', 'pat_CITY', 'pat_STATE', 'pat_COUNTY',
       'pat_ZIP', 'pat_LAT', 'pat_LON', 'HEALTHCARE_EXPENSES',
       'HEALTHCARE_COVERAGE'],
      dtype='object')